<div class="container"  ng-controller="calcularRutaController">
	<form name="form" ng-submit="form.$valid && submit()" novalidate>
		<div class="row">
			<h2>Calcular mejor ruta</h2>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<br>
				<sg-textbox model="map.markers[0].address" label="Lugar de origen" required></sg-textbox>
				<sg-textbox model="map.markers[1].address" label="Lugar de destino" required></sg-textbox>
				<div class="form-group pull-right">
					<button type="button" class="btn btn-default" ui-sref="recorridos">Cancelar</button>
					<button type="submit" class="btn btn-primary">Calcular</button>
				</div>
				<br>
				<br>
				<table class="table">
					<tr>
						<td>Tiempo</td>
						<td>{{tiempo}}</td>
					</tr>
					<tr>
						<td>Distancia</td>
						<td>{{distancia}}</td>
					</tr>
				</table>
				<br>
				<br>
				<div id="no-more-tables">
					<table class="table table-responsive" >
						<tr ng-repeat="dir in directions">
							<td data-title="Distancia" ng-bind="dir.distance"></td>
							<td data-title="Tiempo" ng-bind="dir.time"></td>
							<td data-title="Acción" ng-bind-html="dir.details"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-sm-7">
				<ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" events="map.events">
					<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
				</ui-gmap-google-map>
			</div>
		</div>
	</form>
</div>
