<div class="container" ng-controller="consultarRutasController">
	<h2 class="text-center">Rutas</h2>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<button type="button" ng-if="featureExists('Individual')" class="btn btn-success pull-right" ui-sref="crear-ruta">Crear ruta</button>
		</div>
	</div>
	<div class="row">

		<div class="col-sm-offset-4 col-sm-4">
			<br>

			<table class="table">
				<tr>
					<th>Nombre</th>
					<th ng-if="featureExists('Grupal')">Invitar</th>
				</tr>
				<tr ng-repeat="r in $storage.routes">
					<td>{{r.nombre}}</td>
					<td ng-if="featureExists('Grupal')">
						<button type="button" class="btn btn-default" ui-sref="ruta-invitar" >
							Invitar
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
