<div class="container" ng-controller="serviciosController">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			<h2 class="text-center">Servicios</h2>
			<br>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="obtenerUsuarioPorNickname()">Obtener usuario por nickname</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="filtrarUsuarios()">Filtrar usuarios</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="obtenerAmigosUsuario()">Obtener amigos de usuario</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="obtenerUsuariosBloqueados()">Obtener usuarios bloqueados de usuario</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="agregarUsuarioComoAmigo()">Agregar usuario como amigo</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="eliminarAmigo()">Eliminar amigo</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="bloquearUsuario()">Bloquear usuario</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="desbloquearUsuario()">Desbloquear usuario</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="obtenerSolicitudesAmistad()">Obtener solicitudes de amistad</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="aceptarSolicitudesAmistad()">Aceptar solicitud de amistad</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="rechazarSolicitudesAmistad()">Rechazar solicitud de amistad</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="obtenerChatsUsuario()">Obtener chats del usuario</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="obtenerChatPorId()">Obtener chat por id</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="crearChat()">Crear chat</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ng-click="enviarMensaje()">Enviar mensaje</button>
			</div>
		</div>
	</div>
</div>