<div class="container">
    <h2>Arma tu bici</h2>
    <div class="row">
        <div class="col-xs-12">
            <p>Selecciona las partes que deseas agregar a la bici</p>
        </div>
        <div ng-repeat="parte in partes">
            <div class="col-sm-4" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <span class="font18 col-xs-10" ng-bind="parte.nombre"></span>
                            <button class="btn btn-danger" ng-if="parte.parteSeleccionada" ng-click="removerParte(parte)"><i class="fa fa-lg fa-times"></i></button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#modal-seleccionar-parte" ng-click="abrirSeleccionador(parte, $index)" ng-hide="parte.parteSeleccionada">
                                <i class="fa fa-lg fa-plus"></i>
                            </button>
                        </div>
                        <br>
                        <div class="row" ng-if="parte.parteSeleccionada">
                            <div class="col-xs-12">
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object" style="width: 96px; height: 96px;" ng-src="{{parte.parteSeleccionada.imagen}}">
                                    </div>
                                    <div class="media-body">
                                        <span><strong ng-bind="parte.parteSeleccionada.nombre"></strong></span>
                                        <br>
                                        <span class="text-primary" ng-bind="'$' + parte.parteSeleccionada.valor"></span>
                                        <br>
                                        <span ng-bind="parte.parteSeleccionada.descripcion"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="aplicarClearfix($index, 3)" class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <span class="font24 col-xs-12 text-right" ng-bind="'Valor total: $' + valorTotal"></span>
    </div>
    <div class="row">
        <button type="button" class="col-sm-offset-4 col-sm-2 btn btn-default" ui-sref="configurador">Cancelar</button>
        <button type="submit" class="col-sm-2 btn btn-primary" ng-click="submit()">Comprar</button>
    </div>
</div>

<div class="modal fade" id="modal-seleccionar-parte" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                <h4 class="modal-title" id="myModalLabel">{{modal.titulo}} disponibles</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-repeat="parte in modal.partes">
                        <div class="col-sm-6">
                            <div class="panel panel-default" >
                                <div class="panel-body">
                                    <div class="row">
                                        <span class="font18 col-xs-9" ng-bind="modal.nombre"></span>
                                        <button class="btn btn-primary pull-right" style="margin-right: 15px;" data-dismiss="modal"  ng-click="seleccionarParte(parte)"><i class="fa fa-lg fa-check"></i></button>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="media-object" style="width: 96px; height: 96px;" ng-src="{{parte.imagen}}">
                                                </div>
                                                <div class="media-body">
                                                    <span><strong ng-bind="parte.nombre"></strong></span>
                                                    <br>
                                                    <span class="text-primary" ng-bind="'$' + parte.valor"></span>
                                                    <br>
                                                    <span ng-bind="parte.descripcion"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="aplicarClearfix($index, 2)" class="clearfix"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-lg fa-fw fa-times"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
