<div class="container">
	<div class="row">
		<div class="col-sm-offset-4 col-sm-4">
			<h2 class="text-center">Menu Domicilios</h2>
			<br>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ui-sref="domiciliario-form">Inscribir domiciliario</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ui-sref="pedir-servicio">Pedir servicio</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ui-sref="aceptar-servicio">Aceptar servicio</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg col-xs-12" ui-sref="registrar-servicio">Registrar servicio</button>
			</div>
		</div>
	</div>
</div>