<ui-view></ui-view>
<footer class="footer-distributed">
	<div class="footer-left">
		<h3>Bici<span>tools</span></h3>
		<p class="footer-links">
			<a href="#">Home</a>
			·
			<a href="#">Blog</a>
			·
			<a href="#">Tarifas</a>
			·
			<a href="#">Acerca de</a>
			·
			<a href="#">FAQ</a>
			·
			<a href="#">Contáctenos</a>
		</p>
		<p class="footer-company-name">Bicitools &copy; 2015</p>
	</div>
	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Universidad de los Andes</span> Bogotá, Colombia</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+57 1 2345678</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">soporte@bicitools.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>¿Qué es Bicitools?</span>
			Es un proyecto creado por un grupo de estudiantes de maestría de la facultad de ingeniería, con el fin de pasar la materia de Fábricas de Software.
		</p>
		<div class="footer-icons">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>
	</div>
</footer>
