<div class="container">
    <h2>¡Hola {{$storage.user.nombres}}!</h2>
    <div class="row">
        <br>
        <h4>Detalles de mi perfil</h4>
        <div class="col-sm-6">
            <table class="table">
                <tr>
                    <th>Número de identificación</th>
                    <td ng-bind="u.numeroIdentificacion"></td>
                </tr>
                <tr>
                    <th>Tipo de identificación</th>
                    <td ng-bind="u.tipoIdentificacion"></td>
                </tr>
                <tr>
                    <th>Tipo de perfil</th>
                    <td ng-bind="u.tipoPerfil"></td>
                </tr>
                <tr>
                    <th>Género</th>
                    <td ng-bind="u.genero"></td>
                </tr>
                <tr>
                    <th>Nombres</th>
                    <td ng-bind="u.nombres"></td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td ng-bind="u.apellidos"></td>
                </tr>
                <tr>
                    <th>Dirección de e-mail</th>
                    <td ng-bind="u.correo"></td>
                </tr>
                <tr>
                    <th>Fecha de nacimiento</th>
                    <td ng-bind="u.fechaNacimiento"></td>
                </tr>
                <tr>
                    <th>Dirección de residencia</th>
                    <td ng-bind="u.direccionCasa"></td>
                </tr>
                <tr>
                    <th>Dirección de trabajo</th>
                    <td ng-bind="u.direccionTrabajo"></td>
                </tr>
                <tr>
                    <th>Teléfono fijo</th>
                    <td ng-bind="u.telefonoFijo"></td>
                </tr>
                <tr>
                    <th>Teléfono móvil</th>
                    <td ng-bind="u.telefonoMovil"></td>
                </tr>
                <tr>
                    <th>Usuario Facebook</th>
                    <td ng-bind="u.facebookUser"></td>
                </tr>
                <tr>
                    <th>Usuario Twitter</th>
                    <td ng-bind="u.twitterUser"></td>
                </tr>
                <tr>
                    <th>Nombre de usuario</th>
                    <td ng-bind="u.usuario"></td>
                </tr>
                <tr>
                    <th>Clave</th>
                    <td ng-bind="u.contrasenia"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
