<div class="container">
    <h2>¡Hola {{$storage.user.nombres}}!, bienvenido a Bicitools!</h2>

    <br>
    <div class="row">
        <div ng-if="featureExists('Posicion')">
            <h3 class="text-center">Tu estás aqui</h3>
            <ui-gmap-google-map ng-if="mapa" center='map.center' zoom='map.zoom' draggable="true">
                <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3">
                <button type="button" class="btn btn-default btn-lg  btn-primary" name="button" ng-click="iniciarRecorrido()" ng-if="!recorridoIniciado" >Iniciar Recorrido</button>
                <button type="button" class="btn btn-danger btn-lg  btn-primary" name="button" ng-click="detenerRecorrido()" ng-if="recorridoIniciado">Detener Recorrido</button>
            </div>
            <div ng-if="mostrarDatosRecorrido">
                <div class="col-xs-3" style="font-size: 18px;">
                    <span><strong>Tiempo transcurrido:</strong> 4 s</span>
                </div>
                <div class="col-xs-3" style="font-size: 18px;">
                    <span><strong>Distancia recorrida:</strong> 0.0 km</span>
                </div>
            </div>
        </div>
        <br>
    </div>
    <hr>
    <div ng-if="featureExists('Metricas')">
        <h3 class="text-center">Métricas</h3>
        <br>
        <div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">

                    <table class="table" style="font-size: 18px;">
                        <tr>
                            <td><strong>Distancia Recorrida Anual</strong></td>
                            <td>58 km</td>
                        </tr>
                        <tr>
                            <td><strong>Distancia Recorrida Mensual</strong></td>
                            <td>11 km</td>
                        </tr>
                        <tr>
                            <td><strong>Distancia Recorrida Diaria</strong></td>
                            <td>1.3 km</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div ng-if="featureExists('HistorialViajes')">
        <h3 class="text-center" >Estos son tus recorridos hasta hoy</h3>
        <br>
        <div ng-if="datos">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>Fecha</th>
                        <th>Ruta</th>
                        <th>Tiempo estimado</th>
                        <th>Distancia estimada</th>
                    </tr>
                    <tr ng-repeat="d in datos">
                        <td ng-bind="d.fechaHora"></td>
                        <td ng-bind="d.nombre"></td>
                        <td ng-bind="d.tiempo"></td>
                        <td ng-bind="d.distancia"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>


<!-- <div class="container">
<h2>¡Hola {{$storage.user.nombres}}!</h2>
</div> -->
