<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Main jumbotron for a primary marketing message or call to action -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <div>
            <h1>Bici<span class="bicitools-color">tools</span></h1>
            <h3>¡Porque montar en bici nunca había sido tan genial!</h3>
            <br>
            <a ui-sref="login" class="btn btn-primary btn-dark btn-lg">Iniciar sesión</a>
            <a ui-sref="registrar" class="btn btn-success btn-dark btn-lg">Registrarse</a>
        </div>

    </div>
</header>